<div class="parklist">
     {{#each park}}
        <div class="square" id={{_id}}>
            <p>{{parkName}}</p>
            <img class="cover-img" src="{{park_picture}}" alt="{{parkName}}" />
            <form action="http://localhost:3000/updatepark" method="post">
                <select name="user_park" id={{@index}}>
                    <option value={{_id}}+@havebeen {{h0}}>VISITED</option>
                    <option value={{_id}}+@never {{h1}}>NEVER</option>
                    <option value={{_id}}+@wish {{h2}}>WISH TO GO</option>
                 </select>
            </form>
        </div>
     {{/each}}
</div>
<input type="submit" value="Submit" id='sub'/>
<a href="/">Homepage</a>