<article class="personFound">
  <h2> {{firstName}} {{lastName}} </h2>

  <dl>
    <dt>ID</dt>
    <dd>{{id}}</dd>
    <dt>First Name</dt>
    <dd>{{firstName}}</dd>
    <dt>Last Name</dt>
    <dd>{{lastName}}</dd>
    <dt>Address</dt>
    <dd>{{address}}</dd>
    <dt>Zip Code</dt>
    <dd>{{zip}}</dd>
    <dt>Phone</dt>
    <dd>{{phone}}</dd>
    <dt>Social Security Number</dt>
    <dd>{{ssn}}</dd>
  </dl> 
</article>
