<h1>{{user.userName}}'s Profile</h1>
<article style="flex: auto;">
    <section class="user-info">
    <ul>
        <li>Name: {{user.userName}}</li>
        <li>User ID: {{user._id}}</li>
        {{#if myProfile}}
        <li>Email: {{user.email}}</li>
        <li>Birth Date: {{user.birthDate}}</li>
        {{/if}}
        <li>Total Reviews Amount: {{user.reviews.length}}</li>
        <li>Total like received: {{user.likesReceivedAmount}}</li>
        <li>Total like sent: {{user.likes.length}}</li>
    </ul>
    </section>
    <section class="edit-info" style="display: none">
        <form action="profile/update" method="POST">
            <input type="hidden" name="userId" value={{user._id}} />
            <label for="userName">New Username:</label>
            <input type="text" name="userName" value={{user.userName}} />
            <input type="hidden" name="email" value={{user.email}} />
            <label for="birthDate">New birthDate:</label>
            <input type="date" name="birthDate" value={{user.birthDate}}>
            <input type="hidden" name="hashedPassword" value={{user.Password}} />
            <div  style="padding: 1rem;"><button type="submit">Edit</button></div>
        </form>
    </section>
</article>
<span id="profile-user-name" style="display: none;">{{user.userName}}</span>
{{#if myProfile}}
<button id="btn-parkName-list">Visited/Wished Park List</button>
<button id="btn-edit-profile">Edit your profile</button>
{{/if}}
<a href="/">Homepage</a>
<div class="profile-parklist"></div>
{{#if myProfile}}
<script src="../public/js/profile.js"></script>
{{else}}
<script src="../../public/js/profile.js"></script>
{{/if}}