<h1>{{user.userName}}'s Profile</h1>
<article style="flex: auto;">
    <section class="user-info">
    <ul>
        <li>Name: {{user.userName}}</li>
        <li>User ID: {{user._id}}</li>
        <li>Email: {{user.email}}</li>
        <li>Birth Date: {{user.birthDate}}</li>
        <li>Total Reviews Amount: {{user.reviews.length}}</li>
        <li>Total like sent: {{user.likes.length}}</li>
    </ul>
    </section>
    <section class="edite-info" style="display: none">
        <form action="profile/update" method="POST">
            <input type="hidden" name="userId" value={{user._id}} />
            <label for="userName">New Username:</label>
            <input type="text" name="userName" value={{user.userName}} />
            <label for="email">New Email:</label>
            <input type="text" name="email" value={{user.email}} />
            <label for="birthDate">New Birthdate:</label>
            <input type="date" name="birthDate" value={{user.birthDate}}>
            <input type="hidden" name="hashedPassword" value={{user.Password}} />
            <div  style="padding: 1rem;"><button type="submit">Edite</button></div>
        </form>
    </section>
</article>
<button id="btn-park-list">Display parks visited and wished list</button>
{{#if myProfile}}
<button id="btn-edite-profile">Edite your profile</button>
{{/if}}
<a href="/">Homepage</a>
<div id="profile-park-visited-and-wished" class="park-visited-and-wished" style="display:none">
    <div class="park-visited">
        <h5>Parks have visited:</h5>
        <ol>
            {{#each user.parksHaveVisited}}
            <li>
                <a href="/park/{{this}}">{{this}}</a>
            </li>
            {{/each}}
        </ol>
    </div>
    <div class="park-wished">
        <h5>Parks wish to visit:</h5>
        <ol>
            {{#each user.parksWishToGo}}
            <li>
                <a href="/park/{{this}}">{{this}}</a>
            </li>
            {{/each}}
        </ol>
    </div>
</div>
{{#if myProfile}}
<script src="../public/js/profile.js"></script>
{{else}}
<script src="../../public/js/profile.js"></script>
{{/if}}