<h1>{{user.userName}}'s Profile</h1>
<article>
    <ul>
        <li>User ID: {{user.userID}}</li>
        <li>Email: {{user.email}}</li>
        <li>Birth Date: {{user.birthDate}}</li>
        <li>Total Reviews Amount: {{user.reviews.length}}</li>
        <li>Total like sent: {{user.likes.length}}</li>
    </ul>
</article>
<article>
    <h5>Parks have visited:</h5>
    <ol>
        {{#each vistedParks}}
        <li>
            <a href="/park/{{id}}">{{ParkName}}</a>
        </li>
        {{/each}}
    </ol>
</article>
<article>
    <h5>Parks wish to visit:</h5>
    <ol>
        {{#each wishedParks}}
        <li>
            <a href="/park/{{id}}">{{ParkName}}</a>
        </li>
        {{/each}}
    </ol>
</article>

