<h1>Review Rank</h1>
<section>
    <p>Sort by {{option}}</p>
    <p>Items number {{itemsNum}}</p>
    <p>Reverse? {{reverse}}</p>
</section>
<div>
    <h5>Results:</h5>
    <table>
        <tr>
            <th>Rank</th>
            <th>Review title</th>
            <th>Associated Park Name</th>
            <th>Author</th>
            <th>Rating given</th>
            <th>Last Update Time</th>
            <th>Likes Amount</th>
        </tr>
        {{#each results}}
        <tr>
            <th>{{rank}}</th>
            <th>{{title}}</th>
            <th>{{parkName}}</th>
            <th>{{userName}}</th>
            <th>{{rating}}</th>
            <th>{{lastUpdatedTimeStamp}}</th>
            <th>{{number_of_likes}}</th>
        </tr>
        {{/each}}
    </table>
</div>