<header>
    <section class="navigation">
    <h1>Go to?</h1>
    <nav>
        <a href="../review">Back</a> |
        <a href="../park">Park</a> |
        <a href="../user">User</a> |
        <a href="../review">Review</a> |
    </nav>
    </section>
</header>
<h1>Review Rank</h1>
<section>
    <p class="p-rank-option">Sort by {{option}}</p>
    <p>Items number {{itemsNum}}</p>
    <p>Reverse? {{reverse}}</p>
</section>
<div>
    <h5>Results:</h5>
    <table>
        <tr>
            <th>Rank</th>
            <th>Review title</th>
            <th>Associated Park Name</th>
            <th>Author</th>
            <th>Rating given</th>
            <th class="th-review-time">Last Update Time</th>
            <th class="th-reivew-like">Likes Amount</th>
        </tr>
        {{#each results}}
        <tr>
            <th>{{rank}}</th>
            <th>{{title}}</th>
            <th>{{parkName}}</th>
            <th>{{userName}}</th>
            <th>{{rating}}</th>
            <th class="th-review-time">{{lastUpdatedTime}}</th>
            <th class="th-reivew-like">{{number_of_likes}}</th>
        </tr>
        {{/each}}
    </table>
</div>
<script>
    let rankOption = document.querySelector(".p-rank-option")
    if (rankOption.innerText === "Sort by lastUpdatedTime") {
        let allthTime = document.querySelectorAll(".th-review-time")
        allthTime.forEach((th) => {
            th.style.color = "orange"
        })
    } else if (rankOption.innerText === "Sort by number_of_likes") {
        let allthLike = document.querySelectorAll(".th-reivew-like")
        allthLike.forEach((th) => {
            th.style.color = "orange"
        })
    }
</script>