<h1>User Rank</h1>
<section>
    <p>Sort by {{option}}</p>
    <p>Items number {{itemsNum}}</p>
    <p>Reverse? {{reverse}}</p>
</section>
<div>
    <h5>Results:</h5>
    <table>
        <tr>
            <th>Rank</th>
            <th>User ID</th>
            <th>Name</th>
            <th>followers amount</th>
            <th>likes recieved</th>
            <th>reviews amount</th>
            <th>comments amount</th>
        </tr>
        {{#each results}}
        <tr>
            <th>{{rank}}</th>
            <th>{{_id}}</th>
            <th>{{userName}}</th>
            <th>{{followers.length}}</th>
            <th>{{likesReceivedAmount}}</th>
            <th>{{reviews.length}}</th>
            <th>{{comments.length}}</th>
        </tr>
        {{/each}}
    </table>
</div>