<header>
    <section class="navigation">
    <nav>
        <a href="../park">Parks ranking</a> |
        <a href="../user">Users ranking</a> |
        <a href="../review">Reviews ranking</a> |
        <a href="/">Homepage</a>
    </nav>
    </section>
</header>
<section>
    <p class="p-rank-option">Sort by {{option}}</p>
    <p>Items number {{itemsNum}}</p>
    <p>Reverse? {{reverse}}</p>
</section>
<div>
    <h5>Results:</h5>
    <table>
        <tr>
            <th>Rank</th>
            <th>User ID</th>
            <th>Name</th>
            {{!-- <th class="th-follower">followers amount</th> --}}
            <th class="th-like">likes recieved</th>
            <th class="th-review">reviews amount</th>
            <th class="th-comment">comments amount</th>
        </tr>
        {{#each results}}
        <tr>
            <th>{{rank}}</th>
            <th>{{_id}}</th>
            <th>{{userName}}</th>
            {{!-- <th class="th-follower">{{followers.length}}</th> --}}
            <th class="th-like">{{likesReceivedAmount}}</th>
            <th class="th-review">{{reviews.length}}</th>
            <th class="th-comment">{{comments.length}}</th>
        </tr>
        {{/each}}
    </table>
</div>
<script>
    let rankOption = document.querySelector(".p-rank-option")
    if (rankOption.innerText === "Sort by likesReceivedAmount") {
        let allthLike = document.querySelectorAll(".th-like")
        allthLike.forEach((th) => {
            th.style.color = "#008300"
        })
    } else if (rankOption.innerText === "Sort by reviewsAmount") {
        let allthReview = document.querySelectorAll(".th-review")
        allthReview.forEach((th) => {
            th.style.color = "#008300"
        })
    } else if (rankOption.innerText === "Sort by commentsAmount") {
        let allthComment = document.querySelectorAll(".th-comment")
        allthComment.forEach((th) => {
            th.style.color = "#008300"
        })
    }
</script>